.nasaTitle{
    background-color: black;
    color: white;
    padding-top: 20%;
    border-radius: 5%;
    margin-top: 50%;
}

.nasaDataOne {
    background-color: black;
    color: white;
    padding-top: 20%;
    border-radius: 5%;
    margin-top: 50%;
}

.nasaDataTwo {
    background-color: black;
    color: white;
    padding-top: 20%;
    border-radius: 5%;
    margin-top: 50%;
}

.nasaDataThree {
    background-color: black;
    color: white;
    padding-top: 20%;
    margin-top: 50%;
    border-radius: 5%;
}